header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

h1 {
    margin: 0;
    padding: 40rem 0 25rem;
    font-size: 24rem;
    color: #24242b;
}

h2 {
    margin: 0;
    padding-bottom: 20rem;
    font-size: 14rem;
    color: #24242b;
}

p {
    margin: 0;
    font-size: 14em;
    color: #666666;
}

form {
    display: block;
    max-width: 467rem;
}

input::placeholder,
textarea::placeholder {
    font-size: 13px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

input {
    margin-bottom: 9px;
    outline: none;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12rem;
    font-family: "Roboto Slab", sans-serif;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    outline: none;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 106px;
    height: 106px;
}

input[type="submit"] {
    margin: 12px 0 0;
    width: 140px;
    height: 41px;
    color: #fff;
    background-color: #fd8300;
    border-radius: 21px;
    border: none;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #fd8300;
    border: 1px solid #fd8300;
    cursor: pointer;
}

.button {
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 29px;
}

.contact-adress {
    margin: 0;
}

.adress p {
    padding-bottom: 9rem;
}

.adress {
    justify-content: flex-start;
    column-gap: 107px;
}

.office a {
    font-size: 16rem;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

a.tel {
    text-decoration: none;
    font-size: 18rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.office p:hover > a,
.consultation p:hover > a {
    color: #fd8300;
}

.paypall {
    width: 254rem;
}

.paypall p {
    padding-bottom: 23px;
}

.paypall > p:last-child {
    width: 216rem;
}

.map-blok {
    column-gap: 27rem;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 40px;
}

.map {
    position: relative;
    width: 450rem;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    width: 450px;
    height: 500rem;
    top: -100rem;
    left: -2rem;
}

.input-flex {
    column-gap: 0;
}

.input-flex > input:first-child {
    margin-right: 15px;
}

.style-check {
    display: none;
}

.style-check + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.style-check + label::before,
.style-check + label::after {
    content: "";
    position: absolute;
}
 
.style-check + label::before {
    left: 0;
    top: -2px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c5c5d4;
}

.style-check:checked + label::before {
    background-color: #fff;
}

.style-check:checked + label::after {
    top: 2px;
    left: 4px;
    width: 8px;
    height: 5px;
    border-left: 3px solid #1f1f56;
    border-bottom: 3px solid #1f1f56;
    transform: rotate(-45deg);
    box-sizing: border-box;
}




