body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    /* main cursore */
    cursor: url(../img/cursoremain.cur), default;
}
/* cursor on the hyperlink */
a {
    text-decoration: none;
    cursor: url(../img/click.cur), default;
}

ul>li {
    list-style: none;
}

.main-sup {
    font-size: 12px;
}

sup {
    font-size: 8px;
}

/* header with navigation */
.wrap-nav{
    background-color: #1f1f56;
}

.wrap-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}

.wrap-child ul{
    padding: 0;
}

.main-nav a {
    color: #b1b1d2;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.7em;
}
/* color change when hovering over a hyperlink */
li:hover>a {
    color: #fd8300;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.main-nav ul>li {
    list-style: none;
}

.social ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}


.fb::before {
    content: url(../img/fb-white.png);
}

li:hover>.fb {
    content: url(../img/fb.png);
    transition: .1s ease all;
}

.tw::before {
    content: url(../img/tw.png);
}

li:hover>.tw {
    content: url(../img/tw-orange.png);
    transition: .1s ease all;
}

.inst::before {
    content: url(../img/inst.png);
}

li:hover>.inst {
    content: url(../img/inst-orange.png);
    transition: .1s ease all;
}

/* company logo */
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 15px auto;
    max-width: 960px;
}
/* phone number */
.contact {
    position: relative;
    padding-left: 10px;
}

.contact a {
    color: #25252c;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.3em;
}

.vertical-line {
    display: inline;
    height: 51px;
    border-left: 2px solid #e4e4ec;
}

.mail {
    padding-left: 10px;
    color: #25252c;
    font-size: 16px;
    line-height: 1.5em;
    position: relative;
}

.mail a {
    color: #25252c;
    text-decoration: none;
}

.contact ul,
.mail ul{
    padding: 0;

}
.contact li,
.mail li {
    padding-bottom: 6px;
}

.mail li {
    list-style: none;
}

.mail li:hover>a{
    text-decoration: underline;
}

/* pseudo styles for icons */
.phone::before {
    content: url(../img/phone.png);
    position: absolute;
    left: -15px;
}

.email::before {
    content: url(../img/email.png);
    position: absolute;
    left: -15px;
}

.underline::before {
    content: url(../img/skype.png);
    position: absolute;
    left: -15px;
}

/* communication button */
.butt:hover {
    background-color: #fd8300;
    transition-duration: 0.5s;
}
.butt:hover>a{
    color: #fff;
    font-size: 17px;
    transition-duration: 1s;
}

.butt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 28px;
    border: 2px solid #fd8300;
}

.butt a {
    color: #25252c;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
}
/* main picture with offers */
.head {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/mainfoto.png);
    background-size: 100% auto;
}

.propmonth {
    margin: 0 auto;
    padding: 50px 0 0;
    color: #fff;
    font-size: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* offers */
.texthead {
    margin: 0;
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 1.7em;
}

.price {
    margin: 0 auto;
    padding: 0 0 30px;
    color: #fd8300;
    font-size: 40px;
    font-weight: bold;
}

.unit {
    color: #fd8300;
    font-size: 24px;
    line-height: 1em;
}
/* basic information about the company */
.blog-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 40px auto 45px;
    max-width: 960px;
}

h1 {
    margin: 0;
    padding: 0 0 14px;
    color: #24242b;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 670px;
}

.content p {
    margin: 0;
    padding-right: 15px;
    color: #666;
    font-size: 14px;
    line-height: 1.7em;
}

.indent,
.second-indent {
    padding: 10px 0;
}

.content a {
    padding: 15px 0;
    color: #fd8300;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7em;
}

.detail:hover {
    text-decoration: underline;
}

.line {
    margin: 22px 0 15px;
    border-bottom: 1px solid #e4e4ec;
}

h2 {
    margin: 0;
    padding: 15px 0 25px;
    color: #24242b;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
}

/* progect of house  */
.prog-wrap{
    display: flex;
    width: 100%;
    column-gap: 15px;
}

/* .prog-wrap img {
    width: 100%;
} */

.edmond,
.montreal,
.calgary {
    margin: 0;
}

h3 {
    margin: 0;
}

/* house*/
.edmond a,
.montreal a,
.calgary a {
    color: #1f1f56;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7em;
    text-decoration: none;
}

h3:hover>a {
    text-decoration: underline;
}

.edmond p,
.montreal p,
.calgary p {
    color: #9999a6;
    font-size: 13px;
    line-height: 1.3em;
}

/* side menu category */
.menu {
    display: block;
}

.menu li:hover>a{
    color: #fff;
    background-color: #fd8300;
}

.category {
    margin: 0;
    padding: 10px 15px;
    width: 200px;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    line-height: 1.5em;
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
}

.list,
.skr-child {
    margin: 0;
    padding: 0;
    color: #25252c;
    font-size: 14px;
    line-height: 1.7em;
    background-color: #e4e4ec;
}

.list {
    border-radius: 0 0 3px 3px;
}

.list .arrow::after{
    content: url(../img/arrow.png);
    position: relative;
}

#ar1::after {
    left: 64px;
}

#ar2::after {
    left: 18px;
}

#ar3::after {
    left: 68px;
}

#ar4::after {
    left: 68px;
}

#ar5::after {
    left: 81px;
}

#ar6::after{
    left: 89px;
}

.list li:hover>.arrow::after{
    content: url(../img/arrow-t.png);
    position: relative;
}

.skr:last-child {
    box-shadow: none;
}

.skr {
    box-shadow: inset 0px -1px 0px #cecedd;
}

.skr a {
    display: block;
    padding: 10px 15px 10px;
}

.menu a {
    color: #25252c;
    font-size: 14px;
    line-height: 1.7em;
}

.skr-child {
    display: none;
}

.skr-child a {
    display: block;
    padding-left: 30px;
    color: #666666;
}

.skr-child li:hover>a {
    color: #666666;
    background-color: #cecedd;
}

.skr:hover>.skr-child{
   display: block;
}

/* bottom navigation */
.company {
    margin: 0 auto;
    background-color: #ededf5;
}

.company-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 0 15px;
    max-width: 960px;
}

.info-list,
.info-twolist {
    padding-left: 0;
    font-size: 14px;
    line-height: 1.9em;
}

.info-list a,
.info-twolist a {
    color: #666666;
}

.company li:hover>a {
    text-decoration: underline;
}

.footer {
    margin: 0;
    padding: 15px;
    color: #9999a6;
    font-size: 13px;
    line-height: 1.3em;
    text-align: center;
    background-color: #dcdce6;
}
