@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 1px;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    /* main cursore */
    cursor: url(../img/cursoremain.cur), default;
}
/* cursor on the hyperlink */
a {
    text-decoration: none;
    cursor: url(../img/click.cur), default;
}

sup {
    font-size: 0.7em;
}

hr {
    margin: 30rem 0;
    border: none;
    border-top: 1rem solid #e4e4ec;
}

figure {
    margin: 0;
}

h1 {
    margin-top: 0;
    color: #24242b;
    font: bold 30rem "Roboto Slab", serif;
}

h2 {
    margin: 0;
    padding-bottom: 23px;
    color: #24242b;
    font: bold 24rem "Roboto Slab", serif;
    line-height: 1em;
}

h3 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #1f1f56;
    text-transform: uppercase;
}

h3 b {
    text-transform: lowercase;
}

.wrapper {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    column-gap: 28rem;
    row-gap: 28rem;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-line{
    padding: 18rem 0;
    background-color: #1f1f56;
}

.top-menu {
    display: flex;
}

.top-menu li {
    margin-right: 22rem;
}

.top-menu a {
    font-size: 14rem;
    letter-spacing: 2rem;
    color: #b1b1d2;
}

.top-menu a:hover {
    color: #fd8300;
}

.social {
    display: flex;
}

.social li {
    margin-left: 23rem;
}

.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
}

a.fb {
    height: 19px;
    width: 10px;
    background-position: 0 0;
}

li:hover>.fb {
    height: 19px;
    width: 10px;
    background-position: 0 -21px;
}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -12px 0;
}

li:hover>.tw {
    width: 18px;
    height: 15px;
    background-position: -12px -21px;
}

a.inst {
    width: 19px;
    height: 19px;
    background-position: -32px 0; 
}

li:hover>.inst {
    width: 19px;
    height: 19px;
    background-position: -32px -21px; 
}

.header-contacts {
    align-items: center;
    padding: 30px 0;
}

/* phone number */
.contact,
.messenger {
    padding-left: 38px;
}

.contact p:first-child,
.messenger p:first-child {
    margin-bottom: 10px;
}

.contact a {
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.3em;
}

.messenger a {
    color: #25252c;
    font-size: 16rem;
    line-height: 1.5em;
}

a.email {
    text-decoration: underline;
}

.phone,
.email,
.skype {
    position: relative;
}

.phone::before,
.email::before,
.skype::before {
    content: "";
    position: absolute;
    top: 2rem;
    left: -29rem;
    background: url(../img/sprite.png);
}

/* pseudo styles for icons */
.phone::before {
    background-position: -53rem 0;
    width: 16rem;
    height: 17rem;
}

.email::before {
    background-position: -71rem -3rem;
    width: 17rem;
    height: 13rem;
}

.skype::before {
    background-position: -90rem 0;
    width: 18rem;
    height: 19rem;
}

.stick {
    position: relative;
}

.stick::before {
    content: '';
    position: absolute;
    top: 3rem;
    left: -10rem;
    width: 1px;
    height: 51rem;
    background-color: #e4e4ec;
}

/* communication button */
.cta a {
    display: inline-block;
    padding: 14rem 30rem;
    color: #25252c;
    font-size: 16rem;
    font-weight: bold;
    border-radius: 28rem;
    border: 2rem solid #fd8300;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;
    transition-duration: 0.5s;
}
/* main picture with offers */
.proposition {
    padding: 50rem 0 35rem;
    text-align: center;
    background: #1e1615 url(../img/mainfoto.png) center / cover;
}

.proposition p {
    margin: 0;
}

.prop-title {
    letter-spacing: 2px;
    color: #fff;
    font: bold 30rem "Roboto Slab", serif;
    text-transform: uppercase;
}
/* offers */
p.prop-description {
    margin: 10rem 0;
    font-size: 14rem;
    color: #fff;
}

.prop-price {
    font-size: 24rem;
    color: #fd8300;
    font-weight: bold;
}

.prop-price b {
    font-size: 40rem;
}

/* basic information about the company */

.blog-wrap {
    padding: 35rem 0 45rem;
}

.main-text p {
    font-size: 14rem;
    line-height: 1.7em;
    color: #666;
}

.main-text a {
    color: #fd8300;
    font-size: 14rem;
    font-weight: bold;
}

.main-text a:hover {
    text-decoration: underline;
}

/* house*/
.house {
    position: relative;
}

.house a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.house a:hover ~ h3 {
    text-decoration: underline;
}

.house p {
    margin: 0;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}

/* sidebar menu left */

.aside-menu {
    position: sticky;
    top: 35rem;
    width: 220rem;
    border-radius: 3rem;
    overflow: hidden;
}

.aside-menu p {
    margin: 0;
    padding: 12rem 15rem;
    color: #fff;
    font: bold 16rem "Roboto Slab", serif;
    background-color: #1f1f56;
}

.sidebar a {
    display: block;
    padding: 12rem 15rem;
    font-size: 14rem;
    background-color: #e4e4ec;
}

.sidebar > li > a {
    position: relative;
    color: #25252c;
}

.sidebar > li > a:before {
    content: '';
    position: absolute;
    top: 16rem;
    right: 15rem;
    width: 7rem;
    height: 7rem;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

.sidebar > li:hover a:before {
    border-bottom-color: #fff;
    border-right-color: #fff;
    transform: rotate(45deg);
    transition: all 0.5s ease;
}

.sidebar > li + li > a {
    border-top: 1px solid #cdcddd;
}

.sidebar > li:hover > a {
    color: #fff;
    background-color: #fd8300;
}

.sidebar li:hover .sub-menu {
    max-height: 1000rem;
    visibility: visible;
    transition: max-height 1s ease;
}

.sub-menu {
    max-height: 0;
    visibility: hidden;
}

.sub-menu a {
    padding-left: 30rem;
    color: #666;
}

.sub-menu a:hover {
    background-color: #cecedd;
}

/* bottom navigation */

.footer-top {
    padding: 40rem 0 30rem;
    background-color: #ededf5;
}

.info-list a {
    font-size: 14rem;
    line-height: 1.9em;
    color: #666;
    text-decoration: none;
}

.info-list a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.footer-bottom {
    background-color: #dcdce6;
}

.footer-bottom p {
    margin: 0;
    padding: 14rem 0;
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    text-align: center;
}